---
import BaseLayout from '../layouts/BaseLayout.astro'
const pageTitle = 'About'
---

<BaseLayout pageTitle={pageTitle}>
  <div class="max-w-xl mx-auto pt-8">
    <p class="text-lg pb-2">
      Friends of Elm Wood raises money for the Elm Wood Primary School in West Norwood, London SE27.
    </p>
    <p class="text-lg pb-2">It's a registered charity</p>
    <p class="text-lg pb-2">It's an open group, come and join in.</p>
  </div>
</BaseLayout>
