---
import BaseLayout from '../layouts/BaseLayout.astro'
const allPosts = (await Astro.glob('../pages/news/*.md')).reverse()
---

<BaseLayout pageTitle="News">
  <div class="mx-auto max-w-xl pt-8">
    <ul>
      {
        allPosts.map((post) => (
          <li>
            <a href={post.url} class="block py-2 text-lg font-medium">
              {post.frontmatter.title}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</BaseLayout>
