<div class="bg-orange-500 rounded-md text-zinc-800 px-2 py-4 mx-auto max-w-xl shadow-lg">
  <div class="border-2 border-zinc-800 rounded-sm max-w-md mx-auto px-6 pt-4 pb-8 mt-20 mb-60">
    <h1 class="font-semibold m-0">
      <div class="text-lg border-b border-zinc-800 font-normal">Raising money for</div>
      <div class="text-xl border-b border-zinc-800">Elm Wood Primary School 🌳</div>
      <div class="text-xl border-b border-zinc-800 font-light">&nbsp;</div>
    </h1>
  </div>
</div>
