---
import { Image } from 'astro:assets'
import logo from './foe-logo.webp'
---

<header class="text-center px-3 py-6">
  <a href="/" class="inline-block">
    <Image src={logo} width="400" alt="inline-block" />
  </a>
  <div class="max-w-3xl mx-auto py-3 px-3 sm:px-12 text-center">
    A Charity raising money for Elm Wood Primary School
  </div>
</header>
