---
import { Image } from 'astro:assets'
import logo from './foe-logo.webp'
---

<header class="text-center px-3 py-6">
  <a href="/" class="inline-block">
    <Image src={logo} width="400" alt="inline-block" />
  </a>
</header>
