---
import { Image } from 'astro:assets'
import Navigation from './Navigation.astro'
import logo from './foe-logo.webp'
---

<header class="text-center">
  <a href="/">
    <Image src={logo} width="400" alt="" class="inline-block py-6" />
  </a>
  <!-- <div class="text-3xl font-semibold pt-3 pb-6">The Friends of Elm Wood</div> -->
  <!-- <Navigation /> -->
</header>
